body {
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  background: #fff;
  color: #303030;
  position: relative;
  text-indent: 0;
  font-size: 24px;

  padding: 0px;
  margin: 0 auto 0;
}
body,p,td,div {
  word-wrap: break-word;
}

a {
  color: #f70 !important;
}

/* Use strong in markdown to use highlight colour easily */
em {
  color: #f70;
  font-weight: inherit !important;
}

h1 { font-size: 3.3em; padding-top: 0.15em; }
/*h2 { font-size: 2em; }*/

hr { border: 0px; padding: 0.5em; background: inherit; /*page-break-after: always;*/ }

/* Remove margin before main header */
h1 { margin-top: -0.25em; }

p {
/*  font-size: 0.8em;*/
}

/* Setup classes for image floats etc. */
.left { float: left; margin-right: 1.5em; }
.right { float: right; margin-left: 1.5em; padding-top: 0.5em; }
.center { display:block; margin: 0 auto 1.5em; }
.left, .right { margin-bottom: .8em; margin-top: .5em; }

/* Remove margins from multimarkdown's figures (used with lone images) */
figure { margin: 0; }

h1,h2,h3,h4,h5,h6 {
  text-align: center;
/*  padding: 0.15em;*/
/*  line-height: 1.5em*/
}

li {
  font-size: 110%
}
li li {
  font-size: 100%
}
li p {
  font-size: 100%;
  margin: .5em 0
}
h4 {
  color: #111;
  font-size: 1.2857em;
  line-height: 1.1667em;
  margin: 1.1667em 0
}
h5 {
  color: #111;
  font-size: 1.15em;
  line-height: 1.3em;
  margin: 1.3em 0
}
h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 1.5em 0
}

a {
  -webkit-transition: color .2s ease-in-out;
  color: #0d6ea1;
  text-decoration: none
}
a:hover {
  color: #3593d9
}
.footnote {
  color: #0d6ea1;
  font-size: .8em;
  vertical-align: super
}
img {
  max-width: 100%;
  height: auto
}


blockquote p {
  font-size: 110%;
  font-style: italic;
  line-height: 1.6em
}
